*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("images/skyday.avif");
    background-size: 200vh;
    background-repeat: no-repeat;
} 

.my_card{
    padding: 15px;
    width: 75%;
    height: 80%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top_sec{    
    width: 100%;
    height: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
}
.sec_temp{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 30%;
    padding: 20px
}

.sec_temp p {
    font-size: 30px;
}

.wether_icon{
    width: 35%;
    height: 35%;
}

.sec_dis{
    padding: 20px
}


